<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
      .mainIndex{
        width: 40%;             
        align-self: center; 
        margin-top: 10vh;   
      }
      .bodyIndex{
        display: flex;
        flex-direction: column;        
      }
      .headerIndex{
        height: 7vh;
        background: rgb(82, 81, 81);
      }
      .buttonIndex{
        margin-top: 2vh; 
        margin-bottom: 2vh;       
        width: 25%;
      }
      .formIndex{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title{
        text-align: center;
      }
      .inputIndex{
        width: 75%;
      }
    </style>
  </head>
  <body class="bodyIndex">
    <header class="headerIndex"></header>
    <main class="panel mainIndex">
      <p class="title">Login</p>
        <form action="/logar" method="POST" class="formIndex">  
          <p><%=mensagem%></p>       
          <label class="label" for="email">E-mail:</label>
          <input class="input inputIndex" type="email" id="email"name="email" autocomplete="off" placeholder="Email" required/>
          <label class="label" for="senha">Senha:</label>
          <input class="input inputIndex" type="password" id="senha"name="senha" autocomplete="off" placeholder="Senha" required/>
          <input class="button is-primary buttonIndex" type="submit" value="Login"/>
        </form>
    </main>
  </body>
</html>